:root{
    --background: #ffe0e9;
    --text: #ff477e;
    --select: #ffc4d6;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 2em;
}

div {
    margin-bottom: 10px;
}

h1, h3 {
    color: var(--text);
}

h3 {
    margin-bottom: 2px;
}

.flexHr {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.divDeTexto {
    margin-top: 20px;
    text-align: center;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

select, label {
    display: block;
    text-align: center;
}

select {
    color: var(--text);
    background-color: var(--select);
    font-size: 0.7em;
}

p {
    margin-top: 0;
}
